
body{
    font-family: Roboto, sans-serif;
}

.container{
    display :grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.main{
    grid-area: 2/2/3/3;
    padding-top: 1.5vh;
    background-color: #f5f5f5;
}

.header{
    grid-area: 1/2/2/3;
    box-shadow: 0px 3px 2px rgb(174, 174, 174) ;
    position: relative;
}

.sidebar{
    background-color: #85dcb8;
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    gap: 3vh;
}

.uls{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 8vh;
}
.logo{
    display: flex;
    align-items: center;
    padding-left: 2vh;
}

ul li{
    list-style-type: none;
}

ul{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    gap: 2vh;
    align-content: end;
    padding-left: 2vw;
    font-size: 2.5vh;
    margin: 0;
}

li{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: end;
}

.logo img{
    width: auto;
    height: 15vh;
}

ul img{
    width: auto;
    height: 3vh;
    object-fit: cover;
}

.dashboard{
    color: black;
    font-weight: bold;
    font-size: 4vh;
}


.title{
    margin-left: 2vw;
    font-size: 3.7vh;
    margin-bottom: 0.65vh;
    color: #307d53;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.header p {
    margin: 0;
    padding: 0;
}

.searchbar{
    grid-area: 1/1/2/2;
    padding-left: 3vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchQueryInput {
  width: 70%;
  height: 1.7rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 1.7rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.userinfo{
    grid-area: 2/1/3/2;
}

.recap{
    grid-area: 1/2/2/3;
}

.buttons{
    grid-area: 2/2/3/3;
}









.main{
    display: grid;
    gap: 2vw;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 0.6fr 1.2fr;
}

.projects{
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 1fr 15fr;
}

.announcements{
    grid-area: 1/2/2/3;
    padding-right: 2vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.trending{
    grid-area: 2/2/3/3;
}


.gridproj{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap : 3vh;
    margin-bottom : 2vh
}


#searchbar{
    width : 35vw;
    border-radius: 50%;
}

.searchbar form{
    display: flex;
}

.userinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    padding-left: 3vh;
}

h2{
    font-size: 2vh;
    margin: 0;
}

h1{
    font-size: 3vh;
    margin: 0;
}

.userinfo img{
    height: 10vh;
    width: auto;
    border-radius: 50%;
}

.recap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}

#pp{
    height: 6vh;
    width: auto;
    border-radius: 50% ;
}

#bell{
    height : 4vh
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons button{
    background-color: #85dcb8;
    color: whitesmoke;
    border: none;
    border-radius: 1.625rem;
    font-size: 2.5vh;
    width: 8vw;
    height: 5vh;
}


.gridproj > div{
    margin-left: 2vw;
    background-color: white;
    border-radius: 0.625rem;
    border-left: #e8a87c 0.7vw solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5vh;
}

.icons {
    display: flex;
    justify-content: end;
    gap: 0.5vw;
}

.gridproj img{
    height: 3vh;
    width: auto;
}

.star {
    position: relative;
    /* width: 360px; can be omitted for a regular non-lazy image */
    max-width: 100%;
  }

.line {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
  }

.line:hover {
    opacity: 1;
  }

.eye{
   position: relative;
    /* width: 360px; can be omitted for a regular non-lazy image */
    max-width: 100%; 
}

.titleProj{
    font-size: 2.5vh;
}

.pProj{
    font-size: 1.8vh;
}

.gridannouncement{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 0;
    background-color: white;
    border-radius: 0.625rem;
    padding: 1.4vh;
}
#annoucement1, #annoucement2{
    border-bottom:#e8a87c solid 2px;
}
.announcements > h1{
    color: #307d53;
}

.gridannouncement h1{
    font-size: 2vh;
}
.announcements p{
    margin: 0;
    font-size: 1.3vh;
}

em{
    font-style: normal;
    font-weight: bold;
}

.gridtranding{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 1.2vh;
}

.trending .profile{
    display: flex;
    gap: 0.5vw;
}
.trending .profile h1 {
    font-size: 2.2vh;
}
.trending .profile h2 {
    font-size: 1.8vh;
    font-weight: normal;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 0.6vh;
}